# complementary-integrity-verification

A mechanism that can verify integrity independent of needing access to a previous instance or reference version of the information for comparison.
Source: Neil Thomson

Independent Integrity Verification is what is achieved by use of a public key from the data "controller" such that it does not need to compare received data/messages against the sent data/message.

The already verified chain up to a certain point in time in the past (previous instance or reference version) no longer needs to be verified.

> Example: The tail of a [KEL](https://weboftrust.github.io/WOT-terms/docs/glossary/key-event-log.md) that has been verified to its [root-of-trust](https://weboftrust.github.io/WOT-terms/docs/glossary/root-of-trust.md) on a certain date and time, can be cut off. You don't need to verify this any more from this date.

[integrity](https://weboftrust.github.io/WOT-terms/docs/glossary/integrity.md)
[verified integrity](https://weboftrust.github.io/WOT-terms/docs/glossary/verified-integrity.md)