# verification

An action an [agent](https://weboftrust.github.io/WOT-terms/docs/glossary/agent.md) (of a principal) performs to determine the [authenticity](https://weboftrust.github.io/WOT-terms/docs/glossary/authenticity.md) of a claim or other digital object using a cryptographic key.
Source: ToIP glossary, Jan 2024.

In more technical words, the capability to (cryptographically) verify data received from peers (check structure, signatures, dates)

[verify](https://weboftrust.github.io/WOT-terms/docs/glossary/verify.md)